#container{
	display: grid;
	grid-column: 1fr 1fr 1fr 1fr; 
	width: 500px;
	height: 500px;
	background: black;

}
.etch {
	width: = 10%;

}




}

.hover{
	background: white;
	
}

.reset{
	background: black;
}